body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  height: 99vh;
  gap: 20px;
}
h1 {
  font-size: 1.2em;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  color: #333;
}
